html, body {
  margin: 0;
  padding: 0;
  background-color: #FF0000;
}

div:target {
    padding-top: 2em;
    margin-top: -2em;
}

/* - - - - - - - - - - - - - - - - - - - - - - -*/
/*        NavBar                                */
/* - - - - - - - - - - - - - - - - - - - - - - -*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav {
    /* Sticky NavBar */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.icon {
  display: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - -*/
/*        Media                                 */
/* - - - - - - - - - - - - - - - - - - - - - - -*/
@media screen and (max-width: 990px) {
  nav {
    position: absolute;
    top: 0 px;
    left: 0 px;
    width: 100%;
  }

  li {
    float: none;
  }

  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  header {
      padding-top: 2em;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
